<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ htmllang() }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ htmllang() }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>

    

    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
       this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
       {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ paths.theme }}css/javanca.css">
            <link rel="stylesheet" href="{{ paths.theme }}css/owl.carousel.css">
            <link rel="stylesheet" href="{{ paths.theme }}css/magnific-popup.css">   
        {% endblock %}

        {% block scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="{{ paths['theme'] }}js/owl.carousel.min.js"></script>
            <script type="text/javascript" src="{{ paths['theme'] }}js/owl.carousel.min.js"></script> 
            <script type="text/javascript" src="{{ paths['theme'] }}js/bw.js"></script>     
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% endblock %}
    

    
    <link rel="apple-touch-icon" sizes="57x57" href="{{ paths['theme'] }}/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ paths['theme'] }}/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ paths['theme'] }}/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ paths['theme'] }}/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ paths['theme'] }}/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ paths['theme'] }}/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ paths['theme'] }}/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ paths['theme'] }}/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ paths['theme'] }}/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ paths['theme'] }}/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ paths['theme'] }}/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ paths['theme'] }}/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ paths['theme'] }}/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ paths['theme'] }}/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ paths['theme'] }}/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
  
</head>
<html>
<body>
  

{% block menu %}
	{% include '_menu.twig' %}
	<div class="dummy"></div>
{% endblock %}
<div class="test" style="min-height:100%">
	{% block slideshow %}
		{% include 'offerteaanvraag.twig' %}
		{% include '_jumboslideshow2.twig' %}
	{% endblock %}
	{% block pagina %}
		Airco / Warmtepompen
	{% endblock %}	
</div>


{% block footer %}
    <footer>
        <div class="container">
            <div class="bedrijfsnaam">
                Van Cauwenberghe Jan BVBA
            </div>
            <div class="kolom">
                <div class="gegevens">
                    <img src="{{ paths['theme'] }}images/adres.png">
                    <p>
                        Weststraat 70<br/>
                        8340 Moerkerke-Damme
                    </p>
                </div>
            </div>
            <div class="kolom">
                <div class="gegevens">
                    <img src="{{ paths['theme'] }}images/email.png">
                    <p>
                        tel: 050 35 55 87<br/>
                        fax: 050 36 29 87<br/>
                        e-mail: <!--Place the code below where you want the link to be displayed-->
<span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:vasb@wninapn.or?fhowrpg=Iennt ivn jrofvgr\" gnetrg=\"_oynax\">vasb@wninapn.or</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">eb.acnavaj@ofni</span></noscript></span>
                    </p>
                </div>
            </div>
            <div class="kolom">
                <div class="gegevens">
                    <img src="{{ paths['theme'] }}images/btw.png">
                    <p>
                        BTW: BE 462.255.973
                    </p>
                </div>
            </div>
        </div>
    </footer>
   {% endblock %}
   {% block jqueryscript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% endblock %}

    {# Bolt comes with Magnific Popup, as it's used in the backend. We can use it here, or you can
       just swap it out for the image-viewing script of your choice. Or delete it altogether. #}
    <script type="text/javascript" src="{{ paths['theme'] }}js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function() {
          $('.magnific').magnificPopup({
                type:'image',
                gallery:{
                    enabled:true
                  }
            });
        });
    </script>
    <script>
    function zetgoed() {
        //console.log("we proberen");
        if(!$('.smalliconmenu').css('display') != 'none'){
            $hoogteh2 = $('.smalliconmenu').offset();;
            //console.log($hoogteh2);   

        }  
        //console.log($(document).find('.referentielinks'));
        $top = $('h2').offset().top;
        var $positionTop = $('h2').position().top;
        var $posY = $top - $(window).scrollTop();
        
        if($posY < 0){
            console.log($('.smalliconmenu').css('position'));
            if($('.smalliconmenu').css('position')!='fixed'){
                $('.smalliconmenu').addClass('fixed');
            }
        }else{
            /*$('.smalliconmenu').css('position','relative');
            $('.smalliconmenu').css('top','inherit');*/
            $('.smalliconmenu').removeClass('fixed');
        }
        //console.log($posY);
    }

    $(document).ready(zetgoed());
    $(window).load(zetgoed());
    $(window).scroll(function(){
        zetgoed();
    })
    </script>
    
    
</body>
</html>

